.App {
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  background: #fbfdff;
  height: 100vh;
  width: 100vw;
}

.active:after {
  /* border-bottom: 0.1em solid black; */
  position: absolute;
  content: "";
  display: block;
  /* width: 0.5em; */
  height: 0.1em;
  border-radius: 100px;
  background: red;
  bottom: -0em;
  left: 0.035em;
  right: 0.1em;
}

.App div {
  padding: 3rem;
  pointer-events: none;
  letter-spacing: 0.075em;
}

.App span {
  display: inline-block;
  position: relative;
}

.prompt {
  width: 0.4em;
  height: 0.72em;
  border-bottom: 0.03em solid transparent;
}

.cursor {
  background: #cbcdcf;
  border-color: #000;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    background: transparent;
  }
}

.github {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    to top right,
    transparent 0%,
    transparent 50%,
    #cbcdcf 50%,
    #cbcdcf 100%
  );
  width: 4rem;
  height: 4rem;
}

.github img {
  width: 43%;
  position: absolute;
  top: 8%;
  right: 8%;
}
