.App {
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  background: #fbfdff;
  height: 100vh;
  width: 100vw;
}

.active:after {
  /* border-bottom: 0.1em solid black; */
  position: absolute;
  content: "";
  display: block;
  width: 0.4em;
  height: 0.1em;
  border-radius: 100px;
  background: red;
  bottom: -0em;
  left: calc(50% - 0.23em);
}

.App div {
  padding: 3rem;
  pointer-events: none;
  letter-spacing: 0.075em;
}

.App span {
  display: inline-block;
  position: relative;
}

.prompt {
  width: 0.4em;
  height: 0.72em;
  border-bottom: 0.03em solid transparent;
}

.cursor {
  background: #cbcdcf;
  border-color: #333;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    background: transparent;
  }
}
